.page-header {
padding-top: 0;
margin:0 0;
padding-bottom: 0;
}

p {
 font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 text-align: center;
 font-size: 20px;
}

body {
	background: white;

}

#main {
	background: white;
	max-width: 800px;
	margin-top: 5px;
	margin-left: 5px;
	height: 543px;
}

.stick {
	float: left;
	margin-top: 150px;
}

